.pasta-container {
    display:flex;
    justify-content: center;
    align-items: center;

}


h1 {
    font-size: 100px;
    text-align: center;
}

.pasta {
    border-radius: 5%;
    box-shadow: 1px 2px 2px 1px lightgray;
    
}

body {
    background-color: lightgrey;
}

h2 {
    text-align: center;
}



