.odin-recipes {
    padding: 2px;
    background-image: url('images/food-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    color:lightgray;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px  grey;
    text-align: center;
}

footer {
    padding: 2px;
}

body {
   
   background-color: lightgrey;
}



.pasta-container {
   
    font-size: 20px;
    
    color: white;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

.chili-container {
   
    font-size: 20px;
    
    color: white;
    padding: 10px;
    margin: 5px;
    display: inline-block;

}

.dip-container {
   
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    color: white;
    
    display: inline-block;

}

ul {
    display:block;
    justify-content: center;
    background-color: grey;
    justify-content: center;
}
    

.list-container {
    display:flex;
    justify-content: center;
    margin-top: ;
    
    
}

.h2-quote {
    color: aliceblue;
    text-align: center;
    font-size: 2em;
}

.pasta-image {
    display: flex;
    justify-content: center;
}


.pasta {
    height: 400px;
    width: 550px;
    border-radius: 5%;
    box-shadow: .5px .5px black;
}

.chili-image {
    display: flex;
    
    
}

.chili {
    position: inline-block;
    height: 400px;
    width: 550px;
    border-radius: 5%;
    box-shadow: .5px .5px black;
}

.dip-image {
    display: flex;
    
}

.dip {
    position: inline-block;
    height: 400px;
    width: 550px;
    border-radius: 5%;
    box-shadow: .5px .5px black;
}

.group-images {
    display: flex;
    gap: 4px;
    justify-content: center;
    
    
}





